@use "../abstracts/variables" as *;

body {
  font-family: $font-primary;
  font-weight: $font-weight-regular;
  line-height: 1.5;
  color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-secondary;
  font-weight: $font-weight-semibold;
  margin-bottom: 0.5em;
  line-height: 1.2;
}
